# node.js dependencies
node_modules

# built output
build

# generate these manually (whenever schema changes) using: npx @edgedb/generate edgeql-js
dbschema/edgeql-js

# to store private credentials
.credentials

# env files
.env
.env.*

# system files
.DS_Store
